<h3> Find all number between 1 to 200 that are divisible by 7 </h3>

In [1]:
result=[num for num in range(1,201) if num%7==0]
print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196]

<h3> Find all number between 1 to 200 that have 3 in them.</h3>

In [2]:
result=[n for n in range(1,201) if '3' in str(n)]
print(result)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193]

<h3>Count number of spaces in string. </h3>

In [6]:
some_string='the slow solid squid swam sumptuously through the slimy swamp'
result=[s for s in some_string if s==' ']
print(len(result))

9

<h3>Create a list of all consonants. </h3>

In [7]:
some_string='Yellow Yaks like yelling and yawning and yesterday they yodled while eating yuky yams'
vowels=['a','e','i','o','u']
some_string=some_string.lower()
consonants=[ch for ch in some_string if ch not in vowels]
print(consonants)

['y', 'l', 'l', 'w', ' ', 'y', 'k', 's', ' ', 'l', 'k', ' ', 'y', 'l', 'l', 'n', 'g', ' ', 'n', 'd', ' ', 'y', 'w', 'n', 'n', 'g', ' ', 'n', 'd', ' ', 'y', 's', 't', 'r', 'd', 'y', ' ', 't', 'h', 'y', ' ', 'y', 'd', 'l', 'd', ' ', 'w', 'h', 'l', ' ', 't', 'n', 'g', ' ', 'y', 'k', 'y', ' ', 'y', 'm', 's']

<h3>Get the result like tuple (index,value) from given list.</h3>

In [8]:
lists=["hi",4,8.99,'apple',('t,b','n')]
result=[(tuple([i,lists[i]])) for i in range(len(lists))]
print(result)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [11]:
result=[(index,item) for index,item in enumerate(lists)]
result=tuple(result)
print(result)
print(type(result))

((0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n')))
<class 'tuple'>

</h3>Common number in two lists.</h3>

In [13]:
list_a=[1,2,3,4]
list_b=[2,3,4,5]
common_list=[i for i in list_a if i in list_b]
print(common_list)

[2, 3, 4]

<h3>Get only the number in sentence.</h3>

In [15]:
sentence='In 1984 there were 13 instances of a protest with over 1000 people attending'
words=sentence.split()
print(words)
result=[num for num in words if not num.isalpha()]
print(result)

['In', '1984', 'there', 'were', '13', 'instances', 'of', 'a', 'protest', 'with', 'over', '1000', 'people', 'attending']
['1984', '13', '1000']

<h3>Produce a list containing word 'even' and 'odd'. Result would look like 'odd','odd','even'.</h3>

In [ ]:
result=[]
for i in range(1,21):
    if i%2==1:
        result.append('odd')
    else:
        result.append('even')
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [2]:
odd_even=["even" if n%2==0 else "odd" for n in range(1,21)]
print(odd_even)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

<h3>Produce a list of tuples consisting only matching number in the list. </h3>

In [4]:
list_a=[1,2,3,4,5,6,7,8,9,10,12]
list_b=[2,7,1,14]
common_list=[(tuple([i,i])) for i in list_a if i in list_b]
print(common_list)

[(1, 1), (2, 2), (7, 7)]

<h3>Find all words in string that are less than 4 letters.</h3>

In [6]:
stri="Lets try to explore new technology as AI is booming in job market"
words=stri.split(' ')
print(words)
result=[word for word in words if len(word)<4]
print(result)

['Lets', 'try', 'to', 'explore', 'new', 'technology', 'as', 'AI', 'is', 'booming', 'in', 'job', 'market']
['try', 'to', 'new', 'as', 'AI', 'is', 'in', 'job']

<h3>Use a nested list comprehension to find all number from 1 to 1000 that are divisible by any single digit except 1.</h3>

In [7]:
result=list(set([n for n in range(1,101) for y in range(2,10) if n%y==0]))
print(result)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]